@model IEnumerable<Infraestructure.Models.proveedor>

@{
    ViewBag.Title = "Listado de proveedores";
}

<h2>Listado de proveedores</h2>

    <div class="col-lg-9">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-3">
                    <div class="card" style="width: 12rem;">

                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombreEmpresa)</h5>
                            <h6 class="card-text"> @Html.DisplayNameFor(model => model.direccion): @Html.DisplayFor(modelItem => item.direccion)</h6>

                            @Html.ActionLink("Detallar proveedor", "Details", new { id = item.id })
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

