
@{
    ViewBag.Title = "Mantenimiento del proveedor";
}

<div class="titulo">
    <h2>Mantenimiento del proveedor</h2>
    <hr />
</div>

<div class="form-group" style="margin-left:10%; margin-right:15%; margin-top:2%">
    <div class="row">
        <div class="col">

            <div class="mantenimiento">
                <div class="btn-group" role="group" style="margin-left:20%">
                    <button type="button" class="btn btn-success">Agregar</button>
                    <button type="button" class="btn btn-success">Modificar</button>
                    <button type="button" class="btn btn-success">Eliminar</button>
                </div>
            </div>

            <br/>

            <div class="titulo">
                <h3>Datos de la empresa</h3>
                <hr />
            </div>

            <p>Nombre de la empresa:</p>
            <p>Direcci&#243;n:</p>
            <p>Pa&#237;s:</p>

            <br/>

            <div class="boton" style="margin-left:30%">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-success">Cancelar</button>
            </div>
        </div>

        <div class="col" style="margin-left:20%">

            <div class="mantenimiento">
                <div class="btn-group" role="group" style="margin-left:19%">
                    <button type="button" class="btn btn-success">Agregar</button>
                    <button type="button" class="btn btn-success">Modificar</button>
                    <button type="button" class="btn btn-success">Eliminar</button>
                </div>
            </div>

            <br/>

            <div class="titulo">
                <h3>Datos del empleador</h3>
                <hr />
            </div>
            <p>Empresa:</p>
            <p>Nombre del empleador:</p>
            <p>N&#250;mero de tel&#233;fono:</p>
            <p>Correo electr&#243;nico:</p>

            <br/>

            <div class="boton" style="margin-left:30%">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-success">Cancelar</button>
            </div>
        </div>
        </div>
</div>
</div>