
@{
    ViewBag.Title = "Detalle del producto";
}

<div class="titulo">
    <h2>Detalle del producto</h2>
    <hr />
</div>

<div class="contenido-detalleProductoCliente" style="margin-left:15%">
    <p>Nombre:</p>
    <p>Descripci&#243;n:</p>
    <p>Categor&#237;a:</p>
    <p>Precio:</p>

    <div class="boton" style="margin-left:35%">
        <button type="button" class="btn btn-success">A&#241;adir al carrito</button>
    </div>
</div>


