@model IEnumerable<Infraestructure.Models.producto>

@{
    ViewBag.Title = "Productos";
}

<div class="titulo">
    <h2>Productos</h2>
</div>

<table class="table table-hover" style="margin-top:2%; margin-bottom:4%">
    <thead class="table-success">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col">Costo Unitario</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoCategoria.Descripcion)</td>
                <td>&#8353;@Html.DisplayFor(modelItem => item.costoUnitario)</td>
                <th scope="col">
                    <button type="button" class="btn btn-success">
                        @Html.ActionLink("Ver detalles", "DetalleProducto", "Producto", new { id = item.id }, new { @class = "btn btn-success" })
                    </button>
                </th>
            </tr>
        }
    </tbody>
</table>

