
@{
    ViewBag.Title = "Acerca de nosotros";
}

<div class="acercaDe">
    <img src="~/Imagenes/acercaDeFondo.jpg" class="img-fondo" alt="No se encuentra" />
    <div class="texto">
        <h1> <strong> Nosotros somos ¡Selly! </strong> </h1>

        <p class="texto-p">
            Nuestra empresa empieza desde el 2015 como una empresa de venta de productos para el hogar, tecnología, moda...etc.
            Creada por Leticia Alvarez, ella comenzó; haciendo ventas de articulos del hogar,
            la fama del lugar se comenzó a expandir desde el año 2008, se comenzó
            a contratar empleados y eventualmente se volvió una empresa con sucursales desde Alajuela,
            Heredia y San José.
        </p>

        <p class="texto-p">
            En el 2017, nos afiliamos a BlackCooker, permitiendo poder expandir el negocio
            y vender más articulos.
        </p>

        <p class="texto-p">
            Nuestro negocio se dedica a la venta de productos, con calidad y seguridad para que los disfrute con su 
            familia, amigos, conocidos, también, podes encontrar muchos otros articulos más, con lo nuevo de la tecnología
            para mejorar su diario vivir. Encuentra todo con nosotros con distintas marcas de articulos, 
            para darte lo mejor a su gusto.
        </p>

        <p class="texto-p">
            En 2019 casi estuvimos a punto de cerrar producción debido a la competencia,
            pero en 2020 pudimos recuperarnos y ahora nuestra tienda se a expandido con más ventas de distintos 
            productos. Actualmente, hemos realizado más de 1200000 millones de ventas,
            gracias a nuestros trabajadores y al equipo hemos podido crecer como empresa.
            ¡Ni el COVID-19 nos va a poder detener para que tú podas comprar lo mejor!
        </p>
    </div>
</div>