@{
    ViewBag.Title = "Menú";
}

<!-- Carrusel -->
<div id="carousel-Menu" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Imagenes/carrusel1.PNG" class="d-block w-100" alt="..." style="height:480px;">
        </div>
        <div class="carousel-item">
            <img src="~/Imagenes/carrusel2.PNG" class="d-block w-100" alt="..." style="height:480px;">
        </div>
        <div class="carousel-item">
            <img src="~/Imagenes/carrusel3.PNG" class="d-block w-100" alt="..." style="height:480px;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Datos de entradas -->
<div class="titulo">
    <h2><strong>Datos de tienda</strong></h2>
</div>

<div class="card-group" style="margin-bottom:5%;">
    <div class="card">
        <img src="~/Imagenes/salida.jpg" class="card-img-top" alt="..." style="height:200px; width:200px; margin-left:110px">
        <div class="card-body" style="text-align:center">
            <h5 class="card-title"><strong>Cantidad de salidas</strong></h5>
            <hr />
            <p class="card-text">
                @* Fecha de actual, forma corta *@
                @{
                    var date = DateTime.Now.ToShortDateString();
                }
                Fecha: @date
            </p>
            <p class="card-text">
                Ha habido <strong>@ViewBag.countEntrada</strong> salidas de productos
            </p>

        </div>
    </div>

    <div class="card">
        <img src="~/Imagenes/producto.jpg" class="card-img-top" alt="..." style="height:200px;">
        <div class="card-body" style="text-align:center">
            <h5 class="card-title"><strong>Cantidad de productos en nuestra tienda</strong></h5>
            <hr/>
            <p class="card-text">
                Fecha: @date
            </p>
            <p class="card-text">
                Poseemos un total de <strong>@ViewBag.countProducto</strong> productos en nuestra pagina
            </p>

        </div>
    </div>

    <div class="card">
        <img src="~/Imagenes/entrada.png" class="card-img-top" alt="..." style="height:200px; width:200px; margin-left:120px">
        <div class="card-body" style="text-align:center">
            <h5 class="card-title"><strong>Cantidad de entradas</strong></h5>
            <hr />
            <p class="card-text">
                Fecha: @date
            </p>
            <p class="card-text">
                Ha habido <strong>@ViewBag.countSalida</strong> entradas de productos
            </p>

        </div>
    </div>
</div>

<!-- Cartas de productos especiales -->
<div class="titulo">
    <h2><strong>Productos especiales</strong></h2>
</div>

<div class="card-group" style="margin-bottom:5%;">
    <div class="card">
        <img src="~/Imagenes/cafetera.jpg" class="card-img-top" alt="..." style="height:200px; width:150px; margin-left:140px">
        <div class="card-body">
            <h5 class="card-title" style="text-align:center"><strong>Oferta única para tu hogar</strong></h5>
            <p class="card-text">Compra esta cafetera única a 7500 colones para tu familia, ten tu cafe en segundos y deliciosos</p>

        </div>
    </div>

    <div class="card">
        <img src="~/Imagenes/juguete.jpg" class="card-img-top" alt="..." style="height:200px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align:center"><strong>Descuento único para tu hijo</strong></h5>
            <p class="card-text">Poseemos descuentos para los niños de la casa menores de 10 a&#241;os</p>

        </div>
    </div>

    <div class="card">
        <img src="~/Imagenes/tecnologia.jpg" class="card-img-top" alt="..." style="height:200px;">
        <div class="card-body">
            <h5 class="card-title" style="text-align:center"><strong>Descuento</strong></h5>
            <p class="card-text">
                Compra tu drone con cámara de alta modo Hold plegable RC de avión y
                helicóptero Pro Drones de juguetes Quadcopter Dron. A solo 25 000 colones
            </p>

        </div>
    </div>
</div>

<!-- Acerca de -->
<div class="content-AcercaDe">
    <div class="card bg-dark text-white">
        <img src="~/Imagenes/acercaDe.jpg" class="card-img" alt="..." style="height:400px">

        <div class="card-img-overlay" style="text-align:center; margin-top:2%">
            <h5 class="card-title" style="font-size: 3em;"><strong>Acerca de nosotros</strong></h5>
            <p class="card-text" style="font-size: 1.3em;">¿Te gustaría conocernos?</p>
            <p class="card-text" style="font-size: 1.3em;">
                Esperamos que con nuestra empresa podemos dar facilitar y calidad para traer la
                felicidad a tu familia. ¡Hogar feliz,
                vida feliz!
            </p>
            <p class="card-text" style="font-size: 1.3em;">Conozcanos más con nuestra historia y esperiencia</p>

            <button type="button" class="btn btn-success">
                @Html.ActionLink("Más detalles", "acercaDe", "Home", null, new { @class = "btn btn-success" })
            </button>
        </div>
    </div>
</div>
