
@{
    ViewBag.Title = "Menú Administrador";
}

<div class="titulo">
    <h2>Últimas noticias</h2>
</div>

<div class="row" style="margin-top:3%;">
    <div class="col-md-4">
        <div class="card border-success mb-3" style="height:92%">
            <div class="card-header">Cantidad total de productos</div>
            <div class="card-body">
                <p class="card-text">Hasta la fecha de hoy 28 de Mayo del 2021 se han registrado 250.000 producto</p>
                <button type="button" class="btn btn-success btn-sm">Más detalles</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-success mb-3">
            <div class="card-header">Cantidad de entradas registradas</div>
            <div class="card-body">
                <p class="card-text">Fecha: 28/05/2021 </p>
                <p class="card-text">Se han registrado 988.698.369 entradas </p>
                <button type="button" class="btn btn-success btn-sm">Más detalles</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-success mb-3">
            <div class="card-header">Cantidad de salidas</div>
            <div class="card-body">
                <p class="card-text">Fecha: 28/05/2021 </p>
                <p class="card-text">Se han registrado 895.325.235 salidas </p>
                <button type="button" class="btn btn-success btn-sm">Más detalles</button>
            </div>
        </div>
    </div>

</div>

<table class="table table-hover" style="margin-top:2%; margin-bottom:4%">
    <thead class="table-success">
        <tr>
            <th scope="col">C&#243;digo</th>
            <th scope="col">Producto</th>
            <th scope="col">Categor&#237;a</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Costo Unitario</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td> Sartén</td>
            <td>Articulo del hogar</td>
            <td>2</td>
            <td>14.000</td>
            <th scope="col">
                <button type="button" class="btn btn-success">Detalle</button>
            </th>
        </tr>

        <tr>
            <td>2</td>
            <td>Audífonos</td>
            <td>Tecnología</td>
            <td>10</td>
            <td>8000</td>
            <th scope="col">
                <button type="button" class="btn btn-success">Detalle</button>
            </th>
        </tr>
        <tr>
            <td>3</td>
            <td>Estuche celular</td>
            <td>Tecnología</td>
            <td>2</td>
            <td>5000</td>
            <th scope="col">
                <button type="button" class="btn btn-success">Detalle</button>
            </th>
        </tr>
        <tr>
            <td>4</td>
            <td>Jueguete de Paw Patrol</td>
            <td>Jueguete</td>
            <td>5</td>
            <td>23.000</td>
            <th scope="col">
                <button type="button" class="btn btn-success">Detalle</button>
            </th>
        </tr>
        <tr>
            <td>5</td>
            <td>Blusa</td>
            <td>Moda</td>
            <td>5</td>
            <td>12.000</td>
            <th scope="col">
                <button type="button" class="btn btn-success">Detalle</button>
            </th>
        </tr>
    </tbody>
</table>
