
@{
    ViewBag.Title = "Acceso denegado";
}

<div class="sinPermisos" style="text-align:center; margin-top:18%; margin-bottom:18%;">
    @{
        string nombre = "";
        string email = "Perfil";

        Infraestructure.Models.usuario usua;
        if (Session["Usuario"] != null)
        {
            usua = (Infraestructure.Models.usuario)Session["Usuario"];
            if (usua != null)
            {
                nombre = $"{usua.nombre} {usua.apellidos}";
                email = usua.email;
            }
        }
    }
    <h2>El usuario <strong>@nombre</strong> no tiene permisos para entrar a esta página</h2>
    <br>
    <input type="button" value="Página anterior" class="btn btn-warning" onclick="goBack()" />
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>


