<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sellyEntities" connectionString="metadata=res://*/Models.MyDataBase.csdl|res://*/Models.MyDataBase.ssdl|res://*/Models.MyDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=selly;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>