@model Infraestructure.Models.usuario

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form method="post">
        <h4>usuario</h4>
        <br />
        <p>Email</p>
        @Html.TextBoxFor(x => x.email)
        <br />
        <p>clave</p>
        @Html.TextBoxFor(x=>x.clave)
        <input type="submit" value="Submit" />
    </form>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
